
#home {
  background-color: #FC4135;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}


#camera {
  background-color: #FC4135;
  /* background-color: #F5AE3B; */
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

#canvas {
  display: none;
  width: 100%;
  height: 100vh;
}

#video {
  width: 100%;
  height: 100vh;
  object-fit: contain;
}
.camMenu {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1000;
}

#tl, #tr, #br, #bl {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background: rgb(200, 247, 255);
  z-index: 999;
}

#tl:hover, #tr:hover, #br:hover, #bl:hover {
  cursor: pointer;
}

#imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998;
  border: dashed 2px rgba(200, 247, 255, 0.9);
  box-shadow: 0 0 100000px 100000px rgba(31, 31, 31, 0.562);
  cursor: pointer;
}

#editor {
  background-color: #F2338A;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#options {
  flex-direction: row;
  text-align: center;
}

h1 {
  font-family: 'Lobster Two', cursive;
}

h3 {
  font-family: "Lobster Two", cursive;
}

a, p {
  font-family: 'Open Sans', sans-serif;
}